/* css/answer.css */
.faq-container {
  padding: 0px 20px;
  max-width: 768px;
  margin: 0 auto;
}

.faq-title {
  font-size: 18px;
  font-weight: bold;
  color: #121212;
  margin-bottom: 16px;
}

.faq-list {
  display: flex;
  flex-direction: column;
}

.faq-item {
  padding: 15px 10px;
  border-bottom: 1px solid #B4B4B4;
}

.faq-question {
  font-size: 18px;
  font-weight: 600;
  color: #121212;
  margin-bottom: 8px;
}

.faq-content {
  font-size: 16px;
  font-weight: 400;
  color: #767676;
  
  white-space: pre-wrap; 
}

.faq-button {
  width: calc(100% - 40px);
  background-color: #121212;
  color: #FFFFFF;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 48px;
}

.answer-button:hover {
  background-color: #333333;
}

.fixed-button {
  position: fixed;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}
.mb{
  margin-bottom: 100px;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination-button {
  background-color: transparent; /* 배경 없이 */
  color: #B4B4B4; /* 기본 회색 */
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: underline;
  text-underline-offset: 2px; /* 밑줄 위치 조정 */
}

.pagination-button:hover {
  color: black;
  font-weight: bold;
}

.pagination-button.active {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  
}
