.mainpage-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background: linear-gradient(135deg, #f8f9fab1, #e9ecefd3);
}
.navs{
  width:calc(100% - 40px) ;
  padding: 0px 20px;
}
.react-calendar {
  width: calc(100% - 40px);
  margin-top: 30px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom
  : 20px;
  background: linear-gradient(135deg, #f8f9fab1, #e9ecefd3);
}
.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 40px;
  border-radius: 12px; /* 둥근 모서리 */
  
  align-items: center;
  justify-content: spae-between;
  padding: 5px 10px;
  font-weight: bold;c
}

/* 네비게이션 버튼 */
.react-calendar__viewContainer {
  
  margin-right: auto;
  margin-left: auto;
  background-color: white; /* 배경색 흰색 */
  border-radius: 10px; /* 모서리 둥글게 */
  padding: 20px 10px; /* 내부 여백 */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
}


/* 월, 연도 텍스트 */
.react-calendar__navigation__label {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
  pointer-events: none;

}

.react-calendar__navigation button{
  color: rgba(0, 0, 0, 0.925);
  font-size: 20px;
  font-weight: bold;
}
.react-calendar__month-view__weekdays{
  margin: 0px   10px;
}
/* 요일 헤더 개별 스타일 */
.react-calendar__month-view__weekdays__weekday {
  padding-top: 10px;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none; 
  font-size: 16px; 
  font-weight: bold;
  color: #0C2E86;
}
.mb{
  margin-bottom: 70px;
}
.react-calendar__month-view__days__day--weekend{
  color: black;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none !important;
}
.react-calendar__month-view__days{
  margin: 0px 10px;
}
/* 날짜 스타일 */
.react-calendar__tile {
  
  padding: 15px 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
  font-size: 1.1em;
  font-weight: 500;
}


.react-calendar__tile--active {
  background: #0C2E86 !important;
  color: white;
  border-radius: 50%;
  aspect-ratio: 0.1/0.1;
}

.react-calendar__tile--now {
  color: black;
  background-color: none ;
  border: 1px solid #2d488d !important;
  border-radius: 50%;
  background: none;
  aspect-ratio: 0.5/0.5;
}


.fully-booked {
  color: gray !important;
  pointer-events: none; /* 클릭 비활성화 */
  opacity: 0.3;
}


.time-slots {
  color: #646870;
  display: flex;
  flex-wrap: wrap;
  gap: 3%; /* 좌우 균등한 간격 */
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  width: 100%; /* 전체 너비 사용 */
}


.time-slot {
  width: 120px;
  height: 25px;
  padding: 3%;
  margin: 3%;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  display: flex;
  
  align-items: center; /* 글자 세로 중앙 정렬 */
  justify-content: center; /* 글자 가로 중앙 정렬 */
  border-radius: 15px;
  background: var(--white, #FFF);
  border: 1px solid rgba(0, 0, 0, 0.178);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15); /* 입체감 추가 */
  transition: all 0.3s ease-in-out;
}

.time-slot.selected {
  background-color: #0C2E861A;
  color: #0C2E86;

}

.time-slot.reserved {
  background-color: gray;
  color: white;
  position: relative;
  overflow: hidden; /* 요소 밖으로 넘치지 않도록 설정 */
  opacity: 0.3;
}

.time-slot.reserved::before,
.time-slot.reserved::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.7); /* X자 색상 */
  transform-origin: center;
}

.time-slot.reserved::before {
  transform: translate(-50%, -50%) rotate(15deg); /* 첫 번째 대각선 */
}

.time-slot.reserved::after {
  transform: translate(-50%, -50%) rotate(-15deg); /* 두 번째 대각선 */
}



.next-step-button {
  position: fixed;  /* 화면 하단에 고정 */
  bottom: 20px;  /* 하단에서 20px 위 */
  
  transform: translateX(-50%); /* 정중앙으로 이동 */
  color: #646870;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: var(--white, #FFF);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.15);
  border: none;
  width: 200px;
  height: 50px;
  padding: 5%;
  color: var(--black2, #121212);
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  z-index: 2900;
}


.next-step-button.active {
  background-color: #beccebf8; 
  color: #0C2E86;
  cursor: pointer;
}

.fully-booked {
  color: gray !important;
  pointer-events: none;
}


.no-time{
  margin-top: 30px;
  font-size: 18px;
  color: #646870;
  opacity: 0.7;
}


.logout-button {
  background: none; /* 배경 없음 */
  margin-top: 20px;
  border: none; /* 테두리 제거 */
  color: gray; /* 글자색 회색 */
  font-size: 16px; /* 글자 크기 */
  cursor: pointer; /* 마우스 올렸을 때 손가락 모양 */
  text-decoration: underline; /* 밑줄 */
  opacity: 0.8; /* 약간 흐리게 */
  
}

