.mainpage-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  padding: 0px 20px;
}

.react-calendar {
  width: 100%;
  margin-top: 50px;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none; 
  font-size: 14px; 
  color: #0C2E86;
}

.react-calendar__navigation__label {
  pointer-events: none;
  font-size: 20px;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  display: none !important;
}

.react-calendar__tile {
  background: none;
  text-align: center;
  font-size: 18px;
  max-width: none; 
}


.react-calendar__tile--active {
  background: #0C2E86 !important;
  color: white;
  border-radius: 50%;
  aspect-ratio: 0.1/0.1;
}

.react-calendar__tile--now {
  color: black;
  background: white !important;
  border: 1px solid #0C2E86 !important;
  border-radius: 50%;
  aspect-ratio: 0.5/0.5;
}



.react-calendar__tile.fully-booked {
  color: gray !important;
}

.time-slots {
  color: #646870;
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}

.time-slot {
  width: 120px;
  height: 25px;
  padding: 3%;
  margin: 3%;
  margin-top: 20px;
  text-align: center;
  border-radius: 5px;
  background: var(--white, #FFF);
  border: 1px solid rgba(0, 0, 0, 0.178);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.time-slot.selected {
  background-color: #0C2E861A;
  color: #0C2E86;

}

.time-slot.reserved {
  background-color: gray;
  color: white;
  
}

.next-step-button {
  margin-top: 10%;
  color: #646870;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--white, #FFF);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
  border: none;
  width: 175px;
  height: 50px;
  padding: 5%;
  color: var(--black2, #121212);
  font-size: 16px;
  font-weight: 500;
}

.next-step-button.active {
  background-color: #0C2E861A; 
  color: #0C2E86;
  cursor: pointer;
}

.fully-booked {
  color: gray !important;
  pointer-events: none;
}
