/* css/map.css */
.map-container {
    position: relative;
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 0px 20px;
  }
  
  .map-buttons {
    position: absolute;
    top: -36px;
    left: 3px;
    display: flex;
    gap: 5px;
    background :#F5F5F5;
  }
  
  .map-buttons button {
    padding: 8px 16px;
    border: none;
    background: #ffffff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .map-buttons button.active {
    background: #000000;
    color: #ffffff;
  }
  
  .map-image {
    width: 100%;
    height: 586px;
    display: block;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .map-description {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
  }
  