/* css/map.css */
.map-container {
    position: relative;
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 0px 20px;
  }
  
  .map-buttons {
    position: absolute;
    top: -32px;
    left: 25px;
    display: flex;
    gap: 16px;
    z-index: 1;
  }
  
  .map-buttons button {
    padding: 0px 18px;
    border: none;
    height: 40px;
    background :#f0ededd1;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .map-buttons button.active {
    background: #000000;
    color: #ffffff;
  }
  
  .map-image {
    width: 100%;
    display: block;
    border-radius: 10px;
    margin-top: 90px;
    margin-bottom: 10px;
    position: relative; /* static이 아닌 값 사용 */
    z-index: 100;
  }
  
  .map-description {
    margin: 40px 0px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-image {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  }
  